@charset "utf-8";
@import "import";

html {
  height: 100%;
  background-image:url(../img/bg3_y.jpg);
  background-size: cover;
  background-position: center;
}

body {
  overflow: hidden;
  height: 100%;
  background-image: url(../img/bg3.jpg);
  background-repeat:no-repeat;
  background-position-x:center;
  -webkit-background-size:cover;
  background-size:cover;

  @extend .h6-txt;
  // @include transition($time: 1);
  //color: #fff;
}

/*align*/
//vam
.align_box {
  height: 100%;
  &[align-type="top"] {
    > * {
      display: inline-block;
      vertical-align: top;
    }
  }
  &[align-type="middle"] {
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &[align-type="bottom"] {
    > * {
      display: inline-block;
      vertical-align: bottom;
    }
  }
  >*:not(.empty){
    display: inline-block;
    max-width: calc(100% - 7px);
    &.top{vertical-align: top;}
    &.middle{vertical-align: middle;}
    &.bottom{vertical-align: bottom;}
  }
  >.empty{
    display: inline-block !important;
     width: 0 !important;
     height: 100% !important;
     &.empty_top{vertical-align: top !important;}
     &.empty_middle{vertical-align: middle !important;}
     &.empty_bottom{
      vertical-align: bottom !important;
     }
  }
}
$header-height:44px;
$footer-height:30px;
//$container-height:#{100% - $header-height};
.header{

}
.parellContainer,
.container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  @extend .dark;
  @extend .h2-txt;
}
.footer{
position: absolute;
bottom: 0;
text-align: center;
}
.item{
  position: relative;
  z-index: 3;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // padding: 20px;
  // box-sizing:border-box;
  // color: #fff;
  &.active{
    opacity: 1;
    & + .item_parell{
        opacity: 1;
      }
  }
        &:last-child{
        height: calc(100% - 1px);
      }
  &.item_fixed{
    z-index: 2;
    position: fixed;
    top: 0;
    //width:calc(100% - 10px);
    // height: 120%;
    // opacity: 0;
      @include transition($time:1,$a:opacity);

    // background: red;
    //height: 100%;
    &[scrolled="true"]{
      height: 120%;
    }
    &:first-of-type + .item_blank{height: 200%;}
    & + .item_parell{
      // opacity: 0;
      height: 100%;
      // transform:translateZ(500px);
      // transform-origin:top;
      // padding-top: 50%;
    }
    & + .item_blank{
      height: 100%;

    }
  }
}


// logo
.logo{
  // @extend .h1-txt;
  font-size: 50px;
  // font-weight: ;
  @extend .fwb;
}
.left_top{
  // color: #;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/left_top.png);
  @extend .dark;
}.left_bottom{
  // color: #;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/left_bottom.png);
  @extend .dark;
}.right_top{
  // color: #;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/right_top.png);
  @extend .dark;
}.right_bottom{
  // color: #;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/right_bottom.png);
  @extend .dark;
}