@charset "utf-8";

//언어관련 설정

$font-size:
(8px, .8rem),
(10px, 1rem),
(12px, 1.2rem),
(13px, 1.3rem),
(14px, 1.4rem),
(15px, 1.5rem),
(16px, 1.6rem),
(17px, 1.7rem),
(18px, 1.8rem),
(19px, 1.9rem),
(20px, 2rem),
(21px, 2.1rem),
(22px, 2.2rem),
(23px, 2.3rem),
(25px, 2.5rem),
(28px, 2.8rem),
(47px, 4.7rem),
(60px, 6rem);
//(font_size, 12vw),
//(font_size, 15vw);

//디바이스 관련 설정
html{
  //SMALL
  @media (max-width: 360px){
    font-size:55%;
  }
  //NORMAL
  @media (min-width: 360px) and (max-width: 400px){
    font-size: 62.5%;
  }
  //LARGE
  @media (min-width: 400px){
    font-size: 81.25%;
  }
}
// KO
html[lang="ko"] {
  @each $fontSizeEach, $size in $font-size {
    .font_size#{$fontSizeEach} {
      font-size:$size;
    }
  }
}

// EN
html[lang="en"] {
  @each $fontSizeEach, $size in $font-size {
    .font_size#{$fontSizeEach} {
      font-size:$size * .95;
    }
  }
}