html, body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

$text: txt;
//$size-1: 100px;
$size-1: 22px;
$size-2: 20px;
$size-3: 18px;
$size-4: 16px;
$size-5: 14px;
$size-6: 12px;
$font-list: (
        h1 $text $size-1,
        h2 $text $size-2,
        h3 $text $size-3,
        h4 $text $size-4,
        h5 $text $size-5,
        h6 $text $size-6,
);

@each $value in $font-list {
  #{nth($value,1)},
  .#{nth($value,1)}-#{nth($value,2)} {
    font-size: nth($value, 3);
  }
}

$font-weight: fw;
$font-weight-list: (
        $font-weight 'b' 700,
        $font-weight 'm' 500,
        $font-weight 'n' 400,
        $font-weight 'l' 100,
);
@each $value in $font-weight-list {
  .#{nth($value,1)}#{nth($value,2)} {
    font-weight: nth($value, 3);
  }
}