$break-small: 740px;
$break-large: 1200px;

$margin-l : 12px;
$margin-m : 10px;
$margin-s : 8px;


$border-radius-l:$margin-l/2;
$border-radius-m:$margin-m/2;
$border-radius-s:$margin-s/2;

$line-height-l:1.2;
$line-height-m:1.2;
$line-height-s:1.2;