@charset "UTF-8";
/* line 1, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 22, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
body {
  line-height: 1;
}

/* line 25, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
nav ul {
  list-style: none;
}

/* line 32, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 47, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 52, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 58, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 61, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 65, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 69, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 77, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 81, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 83, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* line 88, C:/Users/uiwwn/Documents/work/port/css/_scss/_reset.scss */
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

/* line 23, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.positive {
  color: #2c4c7f;
}

/* line 26, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.positive-bg {
  background: #2c4c7f;
}

/* line 29, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.positive-bd {
  border-color: #2c4c7f;
}

/* line 23, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.assertive {
  color: #ff3041;
}

/* line 26, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.assertive-bg {
  background: #ff3041;
}

/* line 29, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.assertive-bd {
  border-color: #ff3041;
}

/* line 23, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.calm {
  color: #c1ff89;
}

/* line 26, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.calm-bg {
  background: #c1ff89;
}

/* line 29, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.calm-bd {
  border-color: #c1ff89;
}

/* line 23, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.light {
  color: #ffffff;
}

/* line 26, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.light-bg {
  background: #ffffff;
}

/* line 29, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.light-bd {
  border-color: #ffffff;
}

/* line 23, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.dark {
  color: #333333;
}

/* line 26, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.dark-bg {
  background: #333333;
}

/* line 29, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.dark-bd {
  border-color: #333333;
}

/* line 23, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.gray {
  color: #7D7D7D;
}

/* line 26, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.gray-bg {
  background: #7D7D7D;
}

/* line 29, C:/Users/uiwwn/Documents/work/port/css/_scss/_color.scss */
.gray-bd {
  border-color: #7D7D7D;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_inout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide_up {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide_down {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translate(0, -100px);
  }
}

@keyframes zoom_in {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom_out {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.2);
  }
}

@keyframes pang {
  0% {
    font-size: 100%;
    opacity: 1;
  }
  25% {
    font-size: 50%;
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  60% {
    font-size: 130%;
  }
  80% {
    font-size: 100%;
  }
  100% {
    font-size: 100%;
  }
}

@keyframes slide_inside_title {
  0% {
    opacity: .4;
    transform: scale(0.7) translate(400px, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes slide_inside_txt {
  0% {
    opacity: .4;
    transform: scale(0.7) translate(400px, 0);
  }
  25% {
    opacity: .4;
    transform: scale(0.7) translate(400px, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}

/* line 1, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
html, body {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 41, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
h1,
.h1-txt {
  font-size: 24px;
}

@media screen and (max-width: 740px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h1,
  .h1-txt {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 50, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h1,
  .h1-txt {
    font-size: 22px;
  }
}

/* line 41, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
h2,
.h2-txt {
  font-size: 22px;
}

@media screen and (max-width: 740px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h2,
  .h2-txt {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 50, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h2,
  .h2-txt {
    font-size: 20px;
  }
}

/* line 41, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
h3,
.h3-txt,
.masonry-item {
  font-size: 20px;
}

@media screen and (max-width: 740px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h3,
  .h3-txt,
  .masonry-item {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 50, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h3,
  .h3-txt,
  .masonry-item {
    font-size: 18px;
  }
}

/* line 41, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
h4,
.h4-txt {
  font-size: 18px;
}

@media screen and (max-width: 740px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h4,
  .h4-txt {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 50, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h4,
  .h4-txt {
    font-size: 16px;
  }
}

/* line 41, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
h5,
.h5-txt {
  font-size: 16px;
}

@media screen and (max-width: 740px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h5,
  .h5-txt {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 50, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h5,
  .h5-txt {
    font-size: 14px;
  }
}

/* line 41, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
h6,
.h6-txt {
  font-size: 14px;
}

@media screen and (max-width: 740px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h6,
  .h6-txt {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 50, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
  h6,
  .h6-txt {
    font-size: 12px;
  }
}

/* line 64, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
.fwb {
  font-weight: 700;
}

/* line 64, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
.fwm {
  font-weight: 500;
}

/* line 64, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
.fwn {
  font-weight: 400;
}

/* line 64, C:/Users/uiwwn/Documents/work/port/css/_scss/_font.scss */
.fwl {
  font-weight: 100;
}

/* line 6, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.margin, .masonry-item {
  margin: 10px;
}

/* line 9, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.padding {
  padding: 10px;
}

@media screen and (max-width: 740px) {
  /* line 13, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin, .masonry-item {
    margin: 8px;
  }
  /* line 16, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding {
    padding: 8px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 21, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin, .masonry-item {
    margin: 12px;
  }
  /* line 24, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding {
    padding: 12px;
  }
}

/* line 6, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.margin-top {
  margin-top: 10px;
}

/* line 9, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.padding-top {
  padding-top: 10px;
}

@media screen and (max-width: 740px) {
  /* line 13, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-top {
    margin-top: 8px;
  }
  /* line 16, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-top {
    padding-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 21, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-top {
    margin-top: 12px;
  }
  /* line 24, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-top {
    padding-top: 12px;
  }
}

/* line 6, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.margin-right {
  margin-right: 10px;
}

/* line 9, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.padding-right {
  padding-right: 10px;
}

@media screen and (max-width: 740px) {
  /* line 13, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-right {
    margin-right: 8px;
  }
  /* line 16, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-right {
    padding-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 21, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-right {
    margin-right: 12px;
  }
  /* line 24, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-right {
    padding-right: 12px;
  }
}

/* line 6, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.margin-bottom {
  margin-bottom: 10px;
}

/* line 9, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.padding-bottom {
  padding-bottom: 10px;
}

@media screen and (max-width: 740px) {
  /* line 13, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-bottom {
    margin-bottom: 8px;
  }
  /* line 16, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-bottom {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 21, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-bottom {
    margin-bottom: 12px;
  }
  /* line 24, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-bottom {
    padding-bottom: 12px;
  }
}

/* line 6, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.margin-left {
  margin-left: 10px;
}

/* line 9, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
.padding-left {
  padding-left: 10px;
}

@media screen and (max-width: 740px) {
  /* line 13, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-left {
    margin-left: 8px;
  }
  /* line 16, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-left {
    padding-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 21, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .margin-left {
    margin-left: 12px;
  }
  /* line 24, C:/Users/uiwwn/Documents/work/port/css/_scss/_each.scss */
  .padding-left {
    padding-left: 12px;
  }
}

/* line 1, C:/Users/uiwwn/Documents/work/port/css/_scss/_class.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 5, C:/Users/uiwwn/Documents/work/port/css/_scss/_class.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 9, C:/Users/uiwwn/Documents/work/port/css/_scss/_class.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 13, C:/Users/uiwwn/Documents/work/port/css/_scss/_class.scss */
.text-left {
  text-align: left;
}

/* line 17, C:/Users/uiwwn/Documents/work/port/css/_scss/_class.scss */
.text-center {
  text-align: center;
}

/* line 21, C:/Users/uiwwn/Documents/work/port/css/_scss/_class.scss */
.text-right {
  text-align: right;
}

/* line 25, C:/Users/uiwwn/Documents/work/port/css/_scss/_class.scss */
.bdrs, .masonry-item, .masonry-item img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 3, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
html {
  height: 100%;
}

/* line 6, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
body {
  overflow: hidden;
  height: 100%;
  height: 100vh;
  margin: auto;
  background-color: #ff50b2;
}

/* line 18, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.vertical_item > *:first-child, .masonry-item .content > *:first-child {
  display: inline-block;
  width: calc(100% - 10px);
  text-align: center;
  vertical-align: middle;
  pointer-events: none;
}

/* line 24, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.vertical_item:after, .masonry-item .content:after {
  display: inline-block;
  width: 0;
  height: 100%;
  height: inherit;
  min-height: inherit;
  vertical-align: middle;
  content: '';
}

/* line 36, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.container {
  max-width: 1200px;
  margin: auto;
}

/* line 42, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-sizer {
  width: 1%;
}

/* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item {
  transition: text-shadow 2s ease;
  position: relative;
  width: calc(25% - 20px);
  float: left;
  color: #fff;
  cursor: default;
  border: 1px solid #fff;
  -webkit-box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 50px;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
}

/* line 75, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.masonry-item2 {
  width: calc(50% - 20px);
}

/* line 78, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.masonry-item3 {
  width: calc(75% - 20px);
}

/* line 81, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item[data-href] {
  cursor: pointer;
}

/* line 84, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item[data-href]:before {
  background: linear-gradient(to top, rgba(255, 28, 40, 0.56) 0%, rgba(145, 0, 255, 0.82) 50%, rgba(255, 0, 22, 0.73) 100%);
}

/* line 89, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.hover, .masonry-item:hover {
  overflow: hidden;
  text-shadow: 0;
}

/* line 95, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.hover .content > *:first-child, .masonry-item:hover .content > *:first-child {
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 99, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.hover ._title, .masonry-item:hover ._title {
  transform: scale(1.3) translate(0, -10px);
}

/* line 102, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.hover ._hidden, .masonry-item:hover ._hidden {
  transition: all 0.7s ease;
  height: auto;
  opacity: 1;
}

/* line 110, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.hover:before, .masonry-item:hover:before {
  opacity: 1;
}

/* line 113, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item.hover img, .masonry-item:hover img {
  transition: transform 0.5s ease;
  transform: scale(1.5);
}

/* line 118, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item:before {
  transition: opacity 0.7s ease;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 0.82) 50%, rgba(255, 255, 255, 0.73) 100%);
  content: '';
  opacity: 0;
}

/* line 134, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item p {
  color: inherit;
  font-size: inherit;
}

/* line 141, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item ._title {
  transition: all 0.5s ease;
}

/* line 144, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item .content {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

/* line 153, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item .content > *:first-child {
  margin-bottom: -35px;
  vertical-align: bottom;
}

/* line 157, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item ._hidden {
  height: 0;
  opacity: 0;
}

/* line 161, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item img {
  display: block;
  width: 100%;
  margin-bottom: -3px;
}

/* line 167, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item img[src=""] {
  position: relative;
  height: 300px;
  font-size: 0;
  background-color: #fff;
}

/* line 172, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.masonry-item img[src=""]:after {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  text-align: center;
  font-size: 26px;
  color: #000;
  left: 0;
  content: '이미지 준비중';
}

@media screen and (max-width: 740px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
  .masonry-item {
    width: calc(100% - 16px);
  }
  /* line 195, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
  .masonry-item.masonry-item2, .masonry-item.masonry-item3 {
    width: calc(100% - 16px);
  }
}

@media screen and (min-width: 1200px) {
  /* line 45, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
  .masonry-item {
    width: calc(20% - 24px);
  }
  /* line 202, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
  .masonry-item.masonry-item2 {
    width: calc(40% - 24px);
  }
  /* line 205, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
  .masonry-item.masonry-item3 {
    width: calc(60% - 24px);
  }
}

/* line 212, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.mCSB_container {
  min-height: 100vh;
}

/* line 215, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.ui-dialog {
  padding: 0;
  bottom: 1px solid #fff;
  -webkit-box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3);
}

/* line 233, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.ui-dialog .ui-dialog-titlebar {
  color: rgba(0, 0, 0, 0.53);
  height: 30px;
  font-size: 20px;
  border: 0;
  border-bottom: 1px solid;
  line-height: 26px;
  background: #fff;
}

/* line 242, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.ui-dialog .ui-dialog-content {
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden !important;
}

/* line 247, C:/Users/uiwwn/Documents/work/port/css/_scss/style.scss */
.ui-dialog iframe {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=../_style/style.map */